<h4>Opening the developer tools or resizing them will throw an error in the console</h4>
<p>Reproduction:</p>
<ol>
  <li>Open the browsers developer tools (F12).</li>
  <li>In the console tab in FireFox you can see this error: <span style="color:red;">'Uncaught TypeError: r is undefined'</span>.<br />
  In Chromium browswers the error reads: <span style="color:red;">'Uncaught TypeError: Cannot set property 'more_btn' of undefined'</span></li>
  <li>This will also occur when you already have opened the developer tools and resize the developer tools window.</li>
</ol>

<div [froalaEditor]>
</div>
