<h4>Dragging a block header or footer into another paragraph breaks the styling and loses html tags</h4>

<p>Reproduction</p>
<ol>
  <li>Click the question mark button in the toolbar to add the test markup into the editor.</li>
  <li>Select the text of the header or the footer of the block (Block for users with an account). Make sure you select the spaces before and after the text to.</li>
  <li>Drag the selected text into the other text above or below the block.</li>
  <li>The markup of the block will disappear.</li>
</ol>

<div (froalaInit)="initialize($event)" [froalaEditor]="froalaOptions">
</div>
